.earlyAccess{
    width: 100%;
    background-color: hsl(217, 28%, 13%);
}


.earlyAccess__tarjeta{
    box-sizing: border-box;
    background-color:  hsl(217, 28%, 15%);
    border-radius: 10px;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: 100px;
    padding:  30px 60px;
}   

.earlyAccess__tarjeta{
   text-align: center;
}

.earlyAccess__form{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.form__input{
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    width: 390px;
}

.formError{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
}

.formError__error{
    color:  hsl(0, 100%, 63%);
    margin-left: 30px;
    font-size: 0.6rem;
    font-weight: 700;
}


@media screen and (max-width: 375px) {
 
    .earlyAccess__tarjeta{
        width: 90%;
        padding: 30px 60px;
}
    
    .earlyAccess__form{ 
        flex-direction: column;     
    }

    .form__input{
        width: auto;
    }
  }
