.navegacion{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: hsl(217, 28%, 15%);
    padding-top: 20px;
    max-width: 1440px;
    
}

.links__item{
    list-style: none;
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.navegacion__nav{
    width: 100vw;
    background-color: hsl(217, 28%, 15%);
    margin: 0 auto;
}


@media screen and (max-width: 375px) {
    .navegacion{
       justify-content: center;
       gap: 10px;
    }

    .links__item{
        list-style: none;
        color: white;
        margin: 0 5px;
        text-decoration: none;
    }
  }